nav{
    background-color: hwb(320 11% 37% / 0.568);
    border: .6vw solid #b60b60;
    position: relative;
    align-items: center;
    height: 4vw;
    padding: 4vw;
    text-align: center;
    display:flex;
    justify-content: space-around;
    color: #ffffff;
    font-size: 1em;
    margin-block-start: .83em;
    margin-block-end: 0.83em;

}

html{
    color: azure;
background-color: #f09f0ab9;
font-size: larger;
text-align: justify;
border-left: 5vw solid black;
border-right: 5vw solid black;
}

img{
    float: right;
    margin:2vw 2vw 2vw 2vw
}

h2{
    text-align:center;
}

h4{
    display: inline-block;
}

section h2{
    display: block;
    font-size: larger;
    text-align: center;
}

img.about-img{
    float: left;
    margin: 2vw 2vw 2vw 2vw
}

img.about-img2{
    float: right
    margin: 2vw 2vw 2vw 2vw
}

p{
    display: inline-table;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0vw;
    margin-inline-end: 0vw;
}


img.about-img3{
  height: 50vw; 
  width: 70vw;
  position: relative;

}

img.about-img4{
    float: right;
    margin: 2vw 2vw 2vw 2vw
}

img.about-img5{
    float: left;
    margin: 2vw 2vw 2vw 2vw
}